.editor-chat-container {
  position: relative;
  height: 100%;
}

.chat-panel,
.call-panel {
  background: #111;
  z-index: 1000;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

.chat-header,
.call-header {
  background: #1b1b1b;
  padding: 10px;
  text: center;
  cursor: grab;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-body,
.call-body {
  flex: 1;
  padding: 8px;
  overflow-y: auto;
  height: 100%;
  background: black;
  scroll-behaviour: smooth;
}

#chat-call-panel {
  transform-origin: bottom right;
  transition: opacity 500ms ease;
}

.hide {
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

.show {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
